[{
    "name": "GOOGLE RETAIL PIXEL TABLET",
    "project_type": "MICROSITE",
    "client": "SHELL",
    "problem": "Google Retail had an issue with educating their retail workers on their latest devices and features at their flagship and partnered stores.",
    "solution": "1000heads AU crafted a bespoke 3D interactive experience in 8 languages to help showcase the phone and features. Click the hotspots or the nav icons to move around the device features.",
    "comments": "Developed with HTML, CSS and JavaScript - taking advantage of Three.JS library and PHP to templatise the data for all 8 languages across the globe.",
    "image": "",
    "link": "https://googlepixel3d.com/en-us/fold",
},
{
    "name": "UN NITROGEN",
    "project_type": "MICROSITE",
    "client": "UN",
    "problem": "United Nations European Union needed to bring awareness to the harmful pollution affecting the world and people living within it. UN decided to focus on Nitrogen Pollution.",
    "solution": "1000heads developed a custom web experience of a polluted city that got cleaner from pollution the further you explore down the page. Helping drive awareness to the world about the effects of bad air pollution.",
    "comments": "Developed with HTML, CSS and Javascript - taking advantage of FullPage.JS library and PHP to templatise the data to create all 30 pages..",
    "image": "",
    "link": "",
},
{ "name": "SHIPPING & MARITIME TIMELINE",
    "project_type": "MICROSITE",
    "client": "SHELL",
    "problem": "Shell needed a bespoke interactive experience to talk about their diversity, equity and inclusions efforts across the company.",
    "solution": "1000heads AU crafted a bespoke experience of animated assets firing on scroll events, creating an interactive and immersive story centered around Shell’s efforts for DEI.",
    "comments": "Created using HTML, CSS and Javascript and deployed onto a iframe to be injected into the Shell website - hosted on the UK teams DigitalOcean.",
    "image": "",
    "link": "",
},
{ "name": "SHIPPING & MARITIME HOTSPOT",
    "project_type": "MICROSITE",
    "client": "SHELL",
    "problem": "Shell needed a bespoke interactive experience to talk about their diversity, equity and inclusions efforts across the company.",
    "solution": "1000heads AU crafted a bespoke experience of animated assets firing on click events, creating an interactive hotspot experience for their Shipping & Maritime Hotspot.",
    "comments": "Created using HTML, CSS and Javascript and deployed onto a iframe to be injected into the Shell website - hosted on the UK teams DigitalOcean.",
    "image": "",
    "link": "",
},
{ "name": "GOOGLE RETAIL PIXEL FOLD",
    "project_type": "MICROSITE",
    "client": "GOOGLE",
    "problem": "Google Retail had an issue with educating their retail workers on their latest devices and features at their flagship and partnered stores.",
    "solution": "1000heads AU crafted a bespoke 3D interactive experience in 8 languages to help showcase the phone and features. Click the hotspots or the nav icons to move around the device features.",
    "comments": "Developed with HTML, CSS and JavaScript - taking advantage of Three.JS library and PHP to templatise the data for all 8 languages across the globe.",
    "image": "",
    "link": "https://googlepixel3d.com/en-us/fold",
}]
{ "name": "GOOGLE RETAIL PIXEL TABLET",
    "project_type": "MICROSITE",
    "client": "SHELL",
    "problem": "Google Retail had an issue with educating their retail workers on their latest devices and features at their flagship and partnered stores.",
    "solution":




UN NITROGEN

MICROSITE | UN 

PROBLEM
United Nations European Union needed to bring awareness to the harmful pollution affecting the world and people living within it. UN decided to focus on Nitrogen Pollution
SOLUTION
1000heads developed a custom web experience of a polluted city that got cleaner from pollution the further you explore down the page. Helping drive awareness to the world about the effects of bad air pollution.
TECHNOLOGY
Developed with HTML, CSS and Javascript - taking advantage of FullPage.JS library and PHP to templatise the data to create all 30 pages.
--
GOOGLE RETAIL
PIXEL FOLD
MICROSITE | SHELL 
PROBLEM
Google Retail had an issue with educating their retail workers on their latest devices and features at their flagship and partnered stores.
SOLUTION
1000heads AU crafted a bespoke 3D interactive experience in 8 languages to help showcase the phone and features. Click the hotspots or the nav icons to move around the device features.
TECHNOLOGY
Developed with HTML, CSS and JavaScript - taking advantage of Three.JS library and PHP to templatise the data for all 8 languages across the globe.
--
SHIPPING & MARITIME TIMELINE
MICROSITE | SHELL 
PROBLEM
Shell needed a bespoke interactive experience to talk about their diversity, equity and inclusions efforts across the company.
SOLUTION
1000heads AU crafted a bespoke experience of animated assets firing on scroll events, creating an interactive and immersive story centered around Shell’s efforts for DEI.
TECHNOLOGY
Created using HTML, CSS and Javascript and deployed onto a iframe to be injected into the Shell website - hosted on the UK teams DigitalOcean.
--
SHIPPING & MARITIME HOTSPOT
MICROSITE | SHELL 
PROBLEM
Shell needed a bespoke interactive experience to talk about their diversity, equity and inclusions efforts across the company.
SOLUTION
1000heads AU crafted a bespoke experience of animated assets firing on click events, creating an interactive hotspot experience for their Shipping & Maritime Hotspot.
TECHNOLOGY
Created using HTML, CSS and Javascript and deployed onto a iframe to be injected into the Shell website - hosted on the UK teams DigitalOcean.

