.searchModal{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #191b1e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow:scroll;
}
.searchModal .feed{
    margin: 0;
    /* flex: 7.5; */
}

.searchModal .feedWrapper {
    padding: 20px;
}